<template name="about">
  <div id="about">
    <div class="container-fluid col-xs-12">
      <div id="main-logo-container" class="hidden-xs">
        <img id="main-logo" src="images/logo3d.png">
      </div>
      <div class="col-md-12 textdesc">
        <p>I like to take on challenges requiring a diverse skill set from data scientist to software engineer to entrepreneur</p>
      </div>
      <div class="col-md-12 textdesc">
        <p>Data has been present in various forms throughout my experience. I've worked in an optics laboratory, an NGO, and multiple startups. In all of these situations the challenge was the same:</p>
        <p><strong>How can we learn from information we have to decide what to do next?</strong></p>
      </div>
      <div class="col-md-12 textdesc">
        <p>In the portfolio are a sampling of works. If you'd like to work together please contact me <a href="mailto://bgrayburn@gmail.com?subject=Message from homepage">here</a>.</p>
      </div>
      <div class="col-md-12 textdesc">
        <div class="col-md-6">
          <p>Linkedin: <a href="https://www.linkedin.com/in/bgrayburn">bgrayburn</a></p>
        </div>
        <div class="col-md-6">
          <p><img src="images/GitHub-Mark-32px.png" style="width:32px;"> : <a href="http://www.github.com/bgrayburn">bgrayburn</a>, <a href="http://www.github.com/humanwireio">humanwireio</a></p>
        </div>
      </div>
    </div>
  </div>
</template>
