<template name="geospatial">
<div id="geospatial" style="height:100%; overflow:hidden;">
  <img src="images/baltimore_crime_cameras.jpg" style="width:100%; position:absolute">
  <div class="floatbox" style="width:24vw; left: 75vw;">
  <p>Legend:</p>
  <strong>
    <p style="color: #77F037;">zip code</p>
    <p style="color: #C156C2;">crime camera</p>
  </strong>
  <p style="color: lightgray">data from <a href="http://data.baltimorecity.gov" target="blank">Baltimore City Data Portal</a></p>
    <p style="color: lightgray">static map made in QGIS, data manipulations in Python</p>
  </div>
</div>
</template>