<template name="self_generating_sites">
<h2>What is it?</h2>
<div class="col-xs-12 textdesc">
  <p>The structure of this site is determined by a single hashmap defined as a javascript variable called Session.page_tree
  . The navbar as well as what views (html files) to associate with each nav selection are determined by the page_tree variable.
  </p>
</div>
<h2>What's it good for?</h2>
<div class="col-xs-12 textdesc">
  <p>Because this format allows for easy creation of small tree pages, it is ideal for dashboards and personal sites since they will likely have a limited number of pages with a manually defined structure.
  Because this page doesn't (currently) allow for external linking to specific pages, it currently it best suited for dashboards. The addition of a page router (such as iron router) would change this and will be added to this page in the future. If you are interested in the code for this please contact me as I have yet to put it in a public repo.
  </p>
</div>
<h2>Where's the code?</h2>
<a href="http://www.github.com/humanwireio/dashboarder">dashboarder on github</a>
<br>
<div class="row">
<pre class="col-md-7 col-md-offset-2">
Session.page_tree =
                    "Brian Rayburn":
                        "About":"about"
                        "Portfolio":
                          "Analysis":
                            "GDP":
                              "Summary":"gdp"
                              "Exploratory":"gdpExploreNotebook"
                              "Model":"gdpModelNotebook"
                            "Parellel Computation":"mapred"
                          "Visualization":
                            "Baltimore":
                              "Crime":"crime"
                              "Cameras":"geospatial"
                          "Web":
                            "Self Generating Sites":"self_generating_sites"
                          "Art":
                            "eyeCandy":"eyecandy"
</pre>
</div>
</template>
