<template name="eyecandy">
<div id="eyecandy">
  <a href="http://humanwireio.github.io/eyeCandy/">Description and code here</a><br>
  <img src="images/eyecandy/example1.png" style="width:100%;">
  <img src="images/eyecandy/example2.png" style="width:100%;">
  <img src="images/eyecandy/example3.png" style="width:100%;">
  <img src="images/eyecandy/example4.png" style="width:100%;">
  <img src="images/eyecandy/example5.png" style="width:100%;">
  <img src="images/eyecandy/example6.png" style="width:100%;">
</div>
</template>