/* CSS declarations go here */

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

body {
  background: black;
  color: white;
  padding-top:50px;
}

.navbar {
  margin-bottom:0;
}

.navbar .container { height: 28px; }

.active {
  background-color: black;
  color: white;
  font-weight: bold;
}

.floatbox{
  position: absolute;
  background: rgba(0,0,0,.75);
  text-align:center;
  margin: 10px;
  padding: 10px;
}

.textdesc{
  background: darkgray;
  color: lightgray;
  font: Verdana;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.38) 0%, rgba(76,76,76,0.77) 31%, rgba(76,76,76,0.77) 69%, rgba(0,0,0,0.38) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.38)), color-stop(31%,rgba(76,76,76,0.77)), color-stop(69%,rgba(76,76,76,0.77)), color-stop(100%,rgba(0,0,0,0.38))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.38) 0%,rgba(76,76,76,0.77) 31%,rgba(76,76,76,0.77) 69%,rgba(0,0,0,0.38) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0.38) 0%,rgba(76,76,76,0.77) 31%,rgba(76,76,76,0.77) 69%,rgba(0,0,0,0.38) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.38) 0%,rgba(76,76,76,0.77) 31%,rgba(76,76,76,0.77) 69%,rgba(0,0,0,0.38) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0.38) 0%,rgba(76,76,76,0.77) 31%,rgba(76,76,76,0.77) 69%,rgba(0,0,0,0.38) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61000000', endColorstr='#61000000',GradientType=1 ); /* IE6-9 */
}

#panel a {
  color: #44AAFF;
}

.textdesc tr{
  padding-top:10px;
}

#main-logo {
  opacity: .5;
  width: 100%
}

#main-logo-container {
  width: 10vw;
  margin: 15px auto;
}

.centered-image-container {
  margin: 15px auto;
}

.centered-image {
  width:100%;
}

.image-panel {
  height:100%;
  overflow:hidden;

  .image-panel-image {
    width:100%;
    position:absolute;
  }
}
