<template name="data_table">
  <div id="tablecontainer">
    <table id="datatable" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
            {{#each data_header}}
            <th>{{heading}}</th>
            {{/each}}
        </tr>
      </thead>

      <tfoot>
        <tr>
            {{#each data_header}}
            <th>{{heading}}</th>
            {{/each}}
        </tr>
      </tfoot>

      <tbody>
        {{#each data_arrays}}
        <tr>
          {{#each data_row}}
            <td>{{val}}</td>
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>