<template name="scatter_table">
<div id="high_dimension" class="container-fluid">
  <div id="scatter_table" class="col-md-6" style="overflow:scroll;">
  <!-- FROM http://bl.ocks.org/mbostock/4063663 -->
    <style>

    svg {
      font: 10px sans-serif;
      padding: 10px;
    }

    .axis,
    .frame {
      shape-rendering: crispEdges;
    }

    .axis line {
      stroke: #ddd;
    }

    .axis path {
      display: none;
    }

    .frame {
      fill: none;
      stroke: #aaa;
    }

    circle {
      fill-opacity: .7;
    }

    circle.hidden {
      fill: #ccc !important;
    }

    .extent {
      fill: #000;
      fill-opacity: .125;
      stroke: #fff;
    }

    </style>
  </div>
  <div id="dtable" class="col-md-6" style="background:darkgray; margin-top:10px;">
    {{> data_table }}
  </div>
</div>
</template>